User.find(1)<!DOCTYPE html>
<html>
<head>
  <title>Home</title>
</head>
<body>
<h1>Home index</h1>
<% if user_signed_in? %>
    <span>Здравствуйте, <%= current_user.email %></span>
    <%= link_to 'Выйти', destroy_user_session_path, :method => :delete %>
<% else %>
    <%= link_to 'Войти', new_user_session_path %> или <%= link_to 'Зарегистрироваться', new_user_registration_path %>
<% end %>

<% if user_signed_in? %>
<%= link_to 'Профиль пользователя', user_root_path %>
<% end %>
</body>
</html>

    <% @homes.each do |home| %>
      <div class="col-sm-6 col-md-3">
      <div class="thumbnail">
      <%= link_to (image_tag home.image.url(:medium), class: 'image'), home %>
        </div>
        </div>
        <% end %>
